/BetwweenAgeTime.png
/BetwweenAgeTimeRawpi.png
/BetweenPropExtremeFemales.png
/BetweenPropExtremeMales.png
/BetweenSexAbs.png
/BetweenSexDecrease.png
/BetweenPropFemalesRelChg.pdf
/BetweenPropMalesRelChg.pdf
