/Between_Compare_2011.csv
/Between_SIMD_INC_Full.csv
/dec_females_edagger_0_SII.csv
/dec_males_edagger_0_SII.csv
/descriptives.csv
/EXSD_Compare_2011.csv
/ExtremeDecomp.csv
/SCOB.Rdata
/SCOlong.Rdata
/SexDecomp.csv
/DecileCompare.csv
